<!DOCTYPE>
<html ng-app="bot">
<head>

</head>
  <body>

   <div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputTitle">Change user Email :</label>
            <div class="controls">
                <input type="text" id="inputTitle" ng-model="user.local.email"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls" style="margin-top:10px;">
              <!-- user-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small btn-danger">Cancel</a>
                <a ng-click="updateUser()" class="btn btn-small btn-primary">Update User</a>

              
            </div>
        </div>
    </form>
</div>
    </body>