
<div class="container">
    <!--{{currentUser}}-->
    <h1 style="font-size:60px;">Users List</h1>

    <div class="col-md-1">
        <i class="fa fa-search"></i>
    </div>
    <div class="col-md-11">
        <input type="text" ng-model="search" class="form-control" placeholder="Search ..." >
    </div>
    <table ng-table="tableParams" class="table table-responsive table-hover" show-filter="true">
        <thead>
        <tr>
            <th style="font-size:12px;">User iD</th>
            <th style="font-size:12px;">Email</th>
            <th style="font-size:12px;">password</th>
        </tr>

        </thead>

        <tr ng-repeat="user in $data | filter: search" >
            <td title="'User id'" filter="{ _id: 'text'}" sortable="'name'">
                {{user._id}}
            </td>
            <td title="'Email'" filter="{ 'local.email': 'text'}">
                {{user.local.email}}
            </td>
            <td title="'Password'" filter="{ 'local.password': 'text'}">
                {{user.local.password}}
            </td>
            <td><a ng-click="editUser(user._id)" class="btn btn-small btn-primary">Edit</a></td>
            <td><a ng-click="deleteUser(user._id)" class="btn btn-small btn-danger">Remove</a></td>

        </tr>

    </table>


</div>
