

<div class="container">
    <h1 style="font-size:60px;">Vocational List</h1>


    <table class="table table-responsive table-hover" >
        <thead>
        <tr>
            <th style="font-size:12px;">Centers</th>
            <th style="font-size:12px;">Action</th>
        </tr>

        </thead>

        <tr ng-repeat="vocational in vocationals " >
            <td >
                {{vocational.title}}
            </td>

<td><a ng-click="delete(vocational)" class="btn btn-small btn-danger">Remove</a></td>
        </tr>

    </table>


</div>
