<!DOCTYPE>
<html ng-app="bot">
<head>



    <title>Users Management</title>
</head>
<body>
    <div class="container" ng-controller="UsersListCtrl">
        <h1 style="font-size:60px;">Users List</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th style="font-size:12px;">User iD</th>
                    <th style="font-size:12px;">Email</th>
                    <th style="font-size:12px;">password</th>
                </tr>


            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy:'title'">
                    <td>{{user._id}}</td>
                    <td>{{user.local.email}}</td>
                    <td>{{user.local.password}}</td>
                    <td><a ng-click="editUser(user._id)" class="btn btn-small btn-primary">Edit</a></td>
                    <td><a ng-click="deleteUser(user._id)" class="btn btn-small btn-danger">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>


</html>