<div class="panel panel-primary" ng-controller="UsersController">
    <div class="panel-heading"><b>Users

    <input type="text" class="form-control" name="" value="" placeholder="User search.." ng-model="find" >
  </b></div>
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table"  >
            <thead >
                <th>User ID </th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in users| filter:find">
                    <td>{{$index+1}}</td>  <!--
                    <td>{{user.facebook.name}}</td>-->
                    <td >{{user.local.email}}</td>
                    <td>{{user.local.password}}</td>
                    <td> <button type="button" class="btn btn-danger"name="remove" ng-click="$scope.remove(user._id)"> Remove</button></td>  <!--
                    <td>{{user.facebook.password}}</td>
                    <td>{{user.facebook.birthday}}</td>
                    <td>{{user.facebook.education}}</td>
                <td>{{user.facebook.interests}}</td>*-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">some footer</div>
</div>

      </div>
